@layer reset, base, tokens, recipes;

@layer utilities {
  .s1ehecwq {
    display: flex;
  }

  .s13axidf {
    flex-direction: column;
  }

  .s1f9xeml {
    align-items: center;
  }

  .s1yjw73p {
    justify-content: center;
  }

  .sqauz0y {
    min-height: 100vh;
  }

  .so0ng7j {
    background-color: #f0f0f0;
  }

  .s1u21vuv {
    font-size: 3rem;
  }

  .sj5n8sa {
    font-weight: bold;
  }

  .s1hyurka {
    color: #111;
  }

  .s19ru8x0 {
    margin-bottom: 1.5rem;
  }

  .s1sv17tf {
    background-color: #f59e0b;
  }

  .s1cunqab {
    color: #fff;
  }

  .smadnf9 {
    padding: 1rem 2.5rem;
  }

  .s1ssv90z {
    border-radius: .75rem;
  }

  .ss1w8z4 {
    font-size: 1.25rem;
  }

  .s1fmoa8v {
    font-weight: 600;
  }

  .se73hy9 {
    cursor: pointer;
  }

  .s14kobp1 {
    border: none;
  }
}
